@tuailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground: hsl(0, 0%, 100%);
	--background: hsl(235, 18%, 26%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: hsl(235, 18%, 26%);
		--background: hsl(0, 0%, 100%);
	}
}

body {
	background: var(--background);

	#foreground {
		background: var(--foreground);
	}
}
